body,
html {
  height: 100%;
  margin: 0;
  background-color: #020202;
  color: white;
  font-family: "vtf-centerline";
  user-select: none;
}

.page-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.fond-parent {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-right: 30px;
  margin-top: 30px;
  top: 0;
  right: 0;
  background-color: #00000020;
  border-radius: 10px;
  transition: transform 0.15s, background-color 0.15s;
}

.fond-parent:hover {
  transform: scale(1.2); /* effet de zoom */
  background-color: #00000040; /* changement de couleur au survol */
}

@font-face {
  font-family: "vtf-centerline";
  src: url("../fonts/typefesse-master/Fonts/1-otf/Typefesse_Claire-Obscure.otf")
      format("woff2"),
    url("../fonts/typefesse-master/Fonts/1-otf/Typefesse_Claire-Obscure.otf")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

.line1 {
  position: absolute;
  height: 40px;
  width: 4px;
  transform: rotate(45deg);
  border-radius: 5px;
  background-color: #ffffff;
}

.line2 {
  position: absolute;
  height: 40px;
  width: 4px;
  transform: rotate(-45deg);
  border-radius: 5px;
  background-color: #ffffff;
}

.clock {
  font-size: 18vw;
}
